.transactions-list-header {
  height: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transactions-list-body {
  height: 89vh;
  overflow: scroll;
}

.server-error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
  font-size: 30px;
}

.card {
  border-radius: 0 !important;
}

.card-header:hover {
  background-color: #ccc;
}

.card-header {
  cursor: pointer;
  padding: 0 !important;
  text-align: center;
}

.card-btn-debit {
  font-size: 20px !important;
  padding: 0 !important;
  text-decoration: none !important;
  color: green !important;
}

.card-btn-credit {
  font-size: 20px !important;
  padding: 0 !important;
  text-decoration: none !important;
  color: red !important;
}
